image: 
  tag: {{ .StateValues.ci.tag }}

autoscaling:
  enabled: false

metrics:
  enabled: false

ingress:
  enabled: true
  annotations:
  hosts:
    - host: token-price-pr-{{ .StateValues.ci.prNumber }}.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

envs:
  DB_HOST: "postgres-postgresql"
  DB_NAME: "dags"
  DB_USER: "postgres"
  DB_PASSWORD: "postgres"
