env:

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: airflow.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific
docker:
  secrets:
    region: eu-west-1
    name: docker.io/radixdlt