env:

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: instabridge-compliance-dev.metaverse-dev.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific
