alertmanager:
  env: "prod"
  nameOverride: "token-price-amcfg"
  slackConfig:
    channel: "feed--alerts-token-price-prod"
  secrets:
    region: eu-west-1
    name: "rdx-works-main-prod/eks/token-price/prod/alertmanager-integration-keys"
  enable_pagerduty_notifications: true