ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: airflow-dev.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: airflow-webserver
              port:
                number: 8080

postgres:
  formatted:
    name: rdx-works-main-dev/airflow/postgres-dev-string
  secrets:
    name: rdx-works-main-dev/airflow/postgres-dev
docker:
  secrets:
    region: eu-west-1
    name: docker.io/radixdlt
pgbouncer:
  enabled: true
postgresql:
  enabled: false

data:
  metadataSecretName: postgres-secrets-formatted

localDB:
  enabled: false

registry:
  secretName: docker-hub-dev
