alertmanager:
  env: "dev"
  nameOverride: "airflow-amcfg"
  slackConfig:
    channel: "feed--alerts-airflow-dev"
  secrets:
    region: eu-west-2
    name: "rdx-works-main-dev/eks/airflow/dev/alertmanager-integration-keys"
  enable_pagerduty_notifications: false