secrets:
  - external_secret_name: google-play-service-account
    secretName: google-play-service-account
    aws_secret_name: rdx-works-main-dev/airflow/api-key/google-play
  - external_secret_name: appstoreconnect-api-key-id
    secretName: appstoreconnect-api-key-id
    aws_secret_name: rdx-works-main-dev/airflow/api-key/appstoreconnect
    aws_secret_key: keyId
  - external_secret_name: appstoreconnect-api-key-issuer
    secretName: appstoreconnect-api-key-issuer
    aws_secret_name: rdx-works-main-dev/airflow/api-key/appstoreconnect
    aws_secret_key: issuerId
  - external_secret_name: radix-charts-api-key
    secretName: radix-charts-api-key
    aws_secret_name: rdx-works-main-dev/airflow/api-key/radix-charts-api-key  
    aws_secret_key: api_key
  - external_secret_name: postgres-secrets-formatted
    secretName: connection
    aws_secret_name: rdx-works-main-dev/airflow/postgres-dev-string  
    aws_secret_key: connection
  - external_secret_name: db-migration-postgres-secrets-formatted
    secretName: connection
    aws_secret_name: rdx-works-main-dev/airflow/migrations-postgres-dev-string  
    aws_secret_key: connection
  - external_secret_name: github-token
    secretName: GITHUB_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/github-radixdlt 
    aws_secret_key: GITHUB_TOKEN
  - external_secret_name: telegram-radix-devs-bot-id
    secretName: TELEGRAM_RADIX_DEVS_BOT_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/telegram-radix-developers 
    aws_secret_key: TELEGRAM_RADIX_DEVS_BOT_ID
  - external_secret_name: telegram-radix-devs-combot-id
    secretName: TELEGRAM_RADIX_DEVS_COMBOT_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/telegram-radix-developers 
    aws_secret_key: TELEGRAM_RADIX_DEVS_COMBOT_ID
  - external_secret_name: telegram-radix-devs-combot-api-key
    secretName: TELEGRAM_RADIX_DEVS_COMBOT_API_KEY
    aws_secret_name: rdx-works-main-dev/airflow/api-key/telegram-radix-developers 
    aws_secret_key: TELEGRAM_RADIX_DEVS_COMBOT_API_KEY
  - external_secret_name: telegram-radixdlt-bot-id
    secretName: TELEGRAM_RADIX_DLT_BOT_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/telegram-radixdlt
    aws_secret_key: TELEGRAM_RADIX_DLT_BOT_ID
  - external_secret_name: telegram-radixdlt-combot-id
    secretName: TELEGRAM_RADIX_DLT_COMBOT_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/telegram-radixdlt
    aws_secret_key: TELEGRAM_RADIX_DLT_COMBOT_ID
  - external_secret_name: telegram-radixdlt-combot-api-key
    secretName: TELEGRAM_RADIX_DLT_COMBOT_API_KEY
    aws_secret_name: rdx-works-main-dev/airflow/api-key/telegram-radixdlt 
    aws_secret_key: TELEGRAM_RADIX_DLT_COMBOT_API_KEY
  - external_secret_name: twitter-scryptolang-api-key
    secretName: TWITTER_SCRYPTOLANG_API_KEY
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-scrypto-lang 
    aws_secret_key: TWITTER_SCRYPTOLANG_API_KEY
  - external_secret_name: twitter-scryptolang-api-key-secret
    secretName: TWITTER_SCRYPTOLANG_API_KEY_SECRET
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-scrypto-lang 
    aws_secret_key: TWITTER_SCRYPTOLANG_API_KEY_SECRET
  - external_secret_name: twitter-scryptolang-access-token
    secretName: TWITTER_SCRYPTOLANG_ACCESS_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-scrypto-lang
    aws_secret_key: TWITTER_SCRYPTOLANG_ACCESS_TOKEN
  - external_secret_name: twitter-scryptolang-access-token-secret
    secretName: TWITTER_SCRYPTOLANG_ACCESS_TOKEN_SECRET
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-scrypto-lang
    aws_secret_key: TWITTER_SCRYPTOLANG_ACCESS_TOKEN_SECRET
  - external_secret_name: twitter-scryptolang-baerer-token
    secretName: TWITTER_SCRYPTOLANG_BAERER_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-scrypto-lang
    aws_secret_key: TWITTER_SCRYPTOLANG_BAERER_TOKEN
  - external_secret_name: twitter-radixdlt-api-key
    secretName: TWITTER_RADIXDLT_API_KEY
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-radixdlt
    aws_secret_key: TWITTER_RADIXDLT_API_KEY
  - external_secret_name: twitter-radixdlt-api-key-secret
    secretName: TWITTER_RADIXDLT_API_KEY_SECRET
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-radixdlt 
    aws_secret_key: TWITTER_RADIXDLT_API_KEY_SECRET
  - external_secret_name: twitter-radixdlt-access-token
    secretName: TWITTER_RADIXDLT_ACCESS_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-radixdlt
    aws_secret_key: TWITTER_RADIXDLT_ACCESS_TOKEN
  - external_secret_name: twitter-radixdlt-access-token-secret
    secretName: TWITTER_RADIXDLT_ACCESS_TOKEN_SECRET
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-radixdlt
    aws_secret_key: TWITTER_RADIXDLT_ACCESS_TOKEN_SECRET
  - external_secret_name: twitter-radixdlt-baerer-token
    secretName: TWITTER_RADIXDLT_BAERER_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/twitter-radixdlt
    aws_secret_key: TWITTER_RADIXDLT_BAERER_TOKEN
  - external_secret_name: reddit-radixdlt-client-id
    secretName: REDDIT_RADIXDLT_CLIENT_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/reddit-radixdlt 
    aws_secret_key: REDDIT_RADIXDLT_CLIENT_ID
  - external_secret_name: reddit-radixdlt-client-secret
    secretName: REDDIT_RADIXDLT_CLIENT_SECRET
    aws_secret_name: rdx-works-main-dev/airflow/api-key/reddit-radixdlt 
    aws_secret_key: REDDIT_RADIXDLT_CLIENT_SECRET
  - external_secret_name: reddit-radixdlt-user-agent
    secretName: REDDIT_RADIXDLT_USER_AGENT
    aws_secret_name: rdx-works-main-dev/airflow/api-key/reddit-radixdlt 
    aws_secret_key: REDDIT_RADIXDLT_USER_AGENT
  - external_secret_name: reddit-radixdlt-refresh-token
    secretName: REDDIT_RADIXDLT_REFRESH_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/reddit-radixdlt 
    aws_secret_key: REDDIT_RADIXDLT_REFRESH_TOKEN
  - external_secret_name: coinmarketcap-dev-api-key
    secretName: coinmarketcap-dev-api-key
    aws_secret_name: rdx-works-main-dev/airflow/api-key/coinmarketcap-dev
    aws_secret_key: coinmarketcap-dev-api-key
  - external_secret_name: private-key-bytes
    secretName: private-key-bytes
    aws_secret_name: rdx-works-main-dev/airflow/airflow-dags/stokenet-private-key
    aws_secret_key: private-key-bytes
  - external_secret_name: account-address
    secretName: account-address
    aws_secret_name: rdx-works-main-dev/airflow/airflow-dags/stokenet-private-key
    aws_secret_key: account-address
  - external_secret_name: webserver-secret-key
    secretName: webserver-secret-key
    aws_secret_name: rdx-works-main-dev/airflow/webserver-key
    aws_secret_key: webserver-secret-key
  - external_secret_name: webserver-password
    secretName: webserver-password
    aws_secret_name: rdx-works-main-dev/airflow/webserver-login
    aws_secret_key: webserver_password
  - external_secret_name: webserver-username
    secretName: webserver-username
    aws_secret_name: rdx-works-main-dev/airflow/webserver-login
    aws_secret_key: webserver_username
  - external_secret_name: youtube-radixdlt-channel-id
    secretName: YOUTUBE_RADIXDLT_CHANNEL_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/youtube-radixdlt-scrypto
    aws_secret_key: YOUTUBE_RADIXDLT_CHANNEL_ID
  - external_secret_name: youtube-radixdlt-refresh-token
    secretName: YOUTUBE_RADIXDLT_REFRESH_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/youtube-radixdlt-scrypto
    aws_secret_key: YOUTUBE_RADIXDLT_REFRESH_TOKEN
  - external_secret_name: youtube-scrypto-channel-id
    secretName: YOUTUBE_SCRYPTO_CHANNEL_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/youtube-radixdlt-scrypto
    aws_secret_key: YOUTUBE_SCRYPTO_CHANNEL_ID
  - external_secret_name: youtube-scrypto-refresh-token
    secretName: YOUTUBE_SCRYPTO_REFRESH_TOKEN
    aws_secret_name: rdx-works-main-dev/airflow/api-key/youtube-radixdlt-scrypto
    aws_secret_key: YOUTUBE_SCRYPTO_REFRESH_TOKEN
  - external_secret_name: youtube-client-id
    secretName: YOUTUBE_CLIENT_ID
    aws_secret_name: rdx-works-main-dev/airflow/api-key/youtube-radixdlt-scrypto
    aws_secret_key: YOUTUBE_CLIENT_ID
  - external_secret_name: youtube-client-secret
    secretName: YOUTUBE_CLIENT_SECRET
    aws_secret_name: rdx-works-main-dev/airflow/api-key/youtube-radixdlt-scrypto
    aws_secret_key: YOUTUBE_CLIENT_SECRET
  - external_secret_name: coingecko-api-key
    secretName: COIN_GECKO_API_KEY
    aws_secret_name: rdx-works-main-dev/airflow/api-key/coingecko-instabridge-prod-api-key
    aws_secret_key: COIN_GECKO_API_KEY
  - external_secret_name: coingecko-api
    secretName: COIN_GECKO_API
    aws_secret_name: rdx-works-main-dev/airflow/api-key/coingecko-instabridge-prod-api-key
    aws_secret_key: COIN_GECKO_API

secret:
  - envName: GOOGLE_SERVICE_ACCOUNT
    secretName: google-play-service-account
    secretKey: google-play-service-account
  - envName: "RADIX_CHARTS_AUTHORIZATION_TOKEN"
    secretName: "radix-charts-api-key"
    secretKey: "radix-charts-api-key"
  - envName: "DB_URI"
    secretName: "db-migration-postgres-secrets-formatted"
    secretKey: "connection"
  - envName: "GITHUB_TOKEN"
    secretName: "github-token"
    secretKey: "GITHUB_TOKEN"
  - envName: "TELEGRAM_RADIX_DEVS_BOT_ID"
    secretName: "telegram-radix-devs-bot-id"
    secretKey: "TELEGRAM_RADIX_DEVS_BOT_ID"
  - envName: "TELEGRAM_RADIX_DEVS_COMBOT_ID"
    secretName: "telegram-radix-devs-combot-id"
    secretKey: "TELEGRAM_RADIX_DEVS_COMBOT_ID"
  - envName: "TELEGRAM_RADIX_DEVS_COMBOT_API_KEY"
    secretName: "telegram-radix-devs-combot-api-key"
    secretKey: "TELEGRAM_RADIX_DEVS_COMBOT_API_KEY"
  - envName: "TELEGRAM_RADIX_DLT_BOT_ID"
    secretName: "telegram-radixdlt-bot-id"
    secretKey: "TELEGRAM_RADIX_DLT_BOT_ID"
  - envName: "TELEGRAM_RADIX_DLT_COMBOT_ID"
    secretName: "telegram-radixdlt-combot-id"
    secretKey: "TELEGRAM_RADIX_DLT_COMBOT_ID"
  - envName: "TELEGRAM_RADIX_DLT_COMBOT_API_KEY"
    secretName: "telegram-radixdlt-combot-api-key"
    secretKey: "TELEGRAM_RADIX_DLT_COMBOT_API_KEY"
  - envName: "TWITTER_SCRYPTOLANG_API_KEY"
    secretName: "twitter-scryptolang-api-key"
    secretKey: "TWITTER_SCRYPTOLANG_API_KEY"
  - envName: "TWITTER_SCRYPTOLANG_API_KEY_SECRET"
    secretName: "twitter-scryptolang-api-key-secret"
    secretKey: "TWITTER_SCRYPTOLANG_API_KEY_SECRET"
  - envName: "TWITTER_SCRYPTOLANG_ACCESS_TOKEN"
    secretName: "twitter-scryptolang-access-token"
    secretKey: "TWITTER_SCRYPTOLANG_ACCESS_TOKEN"
  - envName: "TWITTER_SCRYPTOLANG_ACCESS_TOKEN_SECRET"
    secretName: "twitter-scryptolang-access-token-secret"
    secretKey: "TWITTER_SCRYPTOLANG_ACCESS_TOKEN_SECRET"
  - envName: "TWITTER_SCRYPTOLANG_BAERER_TOKEN"
    secretName: "twitter-scryptolang-baerer-token"
    secretKey: "TWITTER_SCRYPTOLANG_BAERER_TOKEN"
  - envName: "TWITTER_RADIXDLT_API_KEY"
    secretName: "twitter-radixdlt-api-key"
    secretKey: "TWITTER_RADIXDLT_API_KEY"
  - envName: "TWITTER_RADIXDLT_API_KEY_SECRET"
    secretName: "twitter-radixdlt-api-key-secret"
    secretKey: "TWITTER_RADIXDLT_API_KEY_SECRET"
  - envName: "TWITTER_RADIXDLT_ACCESS_TOKEN"
    secretName: "twitter-radixdlt-access-token"
    secretKey: "TWITTER_RADIXDLT_ACCESS_TOKEN"
  - envName: "TWITTER_RADIXDLT_ACCESS_TOKEN_SECRET"
    secretName: "twitter-radixdlt-access-token-secret"
    secretKey: "TWITTER_RADIXDLT_ACCESS_TOKEN_SECRET"
  - envName: "TWITTER_RADIXDLT_BAERER_TOKEN"
    secretName: "twitter-radixdlt-baerer-token"
    secretKey: "TWITTER_RADIXDLT_BAERER_TOKEN"
  - envName: "COINMARKETCAP_DEV_API_KEY"
    secretName: "coinmarketcap-dev-api-key"
    secretKey: "coinmarketcap-dev-api-key"
  - envName: "PRIVATE_KEY_BYTES"
    secretName: "private-key-bytes"
    secretKey: "private-key-bytes"
  - envName: "PRIVATE_KEY_ACCOUNT_ADDRESS"
    secretName: "account-address"
    secretKey: "account-address"
  - envName: "WEBSERVER_USERNAME"
    secretName: "webserver-username"
    secretKey: "webserver-username"
  - envName: "WEBSERVER_PASSWORD"
    secretName: "webserver-password"
    secretKey: "webserver-password"
  - envName: "REDDIT_CLIENT_ID"
    secretName: "reddit-radixdlt-client-id"
    secretKey: "REDDIT_RADIXDLT_CLIENT_ID"
  - envName: "REDDIT_CLIENT_SECRET"
    secretName: "reddit-radixdlt-client-secret"
    secretKey: "REDDIT_RADIXDLT_CLIENT_SECRET"
  - envName: "REDDIT_USER_AGENT"
    secretName: "reddit-radixdlt-user-agent"
    secretKey: "REDDIT_RADIXDLT_USER_AGENT"
  - envName: "REDDIT_REFRESH_TOKEN"
    secretName: "reddit-radixdlt-refresh-token"
    secretKey: "REDDIT_RADIXDLT_REFRESH_TOKEN"
  - envName: "YOUTUBE_RADIXDLT_CHANNEL_ID"
    secretName: "youtube-radixdlt-channel-id"
    secretKey: "YOUTUBE_RADIXDLT_CHANNEL_ID"
  - envName: "YOUTUBE_RADIXDLT_REFRESH_TOKEN"
    secretName: "youtube-radixdlt-refresh-token"
    secretKey: "YOUTUBE_RADIXDLT_REFRESH_TOKEN"
  - envName: "YOUTUBE_SCRYPTO_CHANNEL_ID"
    secretName: "youtube-scrypto-channel-id"
    secretKey: "YOUTUBE_SCRYPTO_CHANNEL_ID"
  - envName: "YOUTUBE_SCRYPTO_REFRESH_TOKEN"
    secretName: "youtube-scrypto-refresh-token"
    secretKey: "YOUTUBE_SCRYPTO_REFRESH_TOKEN"
  - envName: "YOUTUBE_CLIENT_ID"
    secretName: "youtube-client-id"
    secretKey: "YOUTUBE_CLIENT_ID"
  - envName: "YOUTUBE_CLIENT_SECRET"
    secretName: "youtube-client-secret"
    secretKey: "YOUTUBE_CLIENT_SECRET"
  - envName: "COIN_GECKO_API_KEY"
    secretName: "coingecko-api-key"
    secretKey: "COIN_GECKO_API_KEY"
  - envName: "COIN_GECKO_API"
    secretName: "coingecko-api"
    secretKey: "COIN_GECKO_API"
