secrets:
  - external_secret_name: postgres-secrets-formatted
    k8s_secret_data_key: connection
    aws_secret_name: rdx-works-main-dev/airflow/postgres-dev-string
    aws_secret_key: connection
  - external_secret_name: db-migration-postgres-secrets-formatted
    k8s_secret_data_key: connection
    aws_secret_name: rdx-works-main-dev/airflow/migrations-postgres-dev-string
    aws_secret_key: connection
  - external_secret_name: webserver-secret-key
    k8s_secret_data_key: webserver-secret-key
    aws_secret_name: rdx-works-main-dev/airflow/webserver-key
    aws_secret_key: webserver-secret-key
  - external_secret_name: webserver-password
    k8s_secret_data_key: webserver-password
    aws_secret_name: rdx-works-main-dev/airflow/webserver-login
    aws_secret_key: webserver_password
  - external_secret_name: webserver-username
    k8s_secret_data_key: webserver-username
    aws_secret_name: rdx-works-main-dev/airflow/webserver-login
    aws_secret_key: webserver_username
  - external_secret_name: main-secret
    aws_secret_name: rdx-works-main-dev/airflow/dev/secrets

secret:
  - envName: "ACC_COMP_MONITORING_SLACK_WEBHOOK_URL"
    secretName: "main-secret"
    secretKey: "ACC_COMP_MONITORING_SLACK_WEBHOOK_URL"
  - envName: "DB_URI"
    secretName: "db-migration-postgres-secrets-formatted"
    secretKey: "connection"
  - envName: "WEBSERVER_USERNAME"
    secretName: "webserver-username"
    secretKey: "webserver-username"
  - envName: "WEBSERVER_PASSWORD"
    secretName: "webserver-password"
    secretKey: "webserver-password"
