image: 
  tag: {{ .StateValues.ci.tag }}

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80

metrics:
  enabled: false

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: token-price-dev.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: Prefix

envs:
  DB_HOST: "airflow-dags-dev-rds-ro.rdx-works-main.internal"
  DB_NAME: "dags"
  DB_USER: "postgres"

secrets:
  - name: rds-password
    variable: "DB_PASSWORD"
    path: "rdx-works-main/token-price/postgres-dev"
    secretProperty: "postgresql-password"
    secretName: "database-password"
