replicaCount: 1

image: 
  tag: {{ .StateValues.ci.tag }}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80

metrics:
  enabled: true
  port: 5990
  serviceMonitor:
    enabled: true
    interval: 60s

resources:
  limits:
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 256Mi

ingress:
  enabled: true
  hosts:
    - host: dev-token-price.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
envs:
  DB_HOST: "airflow-dev-rds-ro.rdx-works-main.internal"
  DB_NAME: "dags"
  DB_USER: "postgres"

secrets:
  - external_secret_name: rds-password
    variable: "DB_PASSWORD"
    aws_secret_name: "rdx-works-main-dev/airflow/postgres-dev"
    aws_secret_key: "postgresql-password"
    k8s_secret_data_key: "database-password"
